* {
    box-sizing: border-box;
  }
  
  .company-cart {
    color: #ffffff;
  }
  .location-empType-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  p {
    padding: 4px;
  }
  .decp-header {
    font-size: 15px;
  }
  .Description-conatiner {
    padding: 10px;
  }
  .location-package-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .location {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .list-items {
    background-color: #272727;
    border: solid #ffffff 1px;
    margin: 10px;
    border-radius: 8px;
    padding: 7px;
  }
  li {
    list-style-type: none;
  }
  .company-logo {
    width: 40px;
    height: 40px;
  }
  .header {
    font-size: 10px;
  }
  .rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .title-rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 10px;
  }
  .company-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: #ffffff;
  }
  